.container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
}
.wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.img {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 293px;
  height: 491px;
}

.title {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 700;
  color: #661141;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  padding: 0 10px 0 10px;
  font-weight: 200;
  font-size: 20px;
}
.score {
  font-weight: 600;
  color: #481030;
  padding: 0 0 0 10px;
  display: flex;
  font-size: 16px;
}
.header {
  font-size: 25px;
  font-weight: 400;
  color: #b21c71;
  padding: 18px 10px 0 10px;
}
.genres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  padding: 0 10px 0 10px;
  font-weight: 200;
  font-size: 20px;
}
.link {
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  color: #481030;
  text-decoration: underline;
  display: block;
}

.btn {
  margin-top: 15px;
  margin-left: 25px;
  display: flex;
  color: #d2bae8;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font-size: 13px;
  border: 1px solid #2b86c5;
  border-radius: 5px;
  background-image: linear-gradient(285deg, #ff3cac 50%, #7a747f 100%);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn:hover,
:focus {
  opacity: 1;
  color: #7c1851;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn::before {
  content: '<';
  width: 30px;
}

.box {
  display: block;
}
@media screen and (min-width: 768px) {
  .img {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 320px;
  }
  .wrapper {
    margin: 0 auto;
    padding: 20px;
  }
  .card {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .img {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 320px;
  }
  .wrapper {
    margin: 0 auto;
    padding: 20px;
  }
  .card {
    display: flex;
  }
}
