.container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
}
.wrapper {
  margin: 0 auto;
  padding: 20px;
}
.card {
  display: flex;
}
.img {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 320px;
}

.title {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 700;
  color: #661141;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  padding: 0 10px 0 10px;
  font-weight: 200;
  font-size: 20px;
}
.score {
  font-weight: 600;
  color: #481030;
  padding: 0 0 0 10px;
  display: flex;
  font-size: 16px;
}
.header {
  font-size: 25px;
  font-weight: 400;
  color: #b21c71;
  padding: 18px 10px 0 10px;
}
.genres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  padding: 0 10px 0 10px;
  font-weight: 200;
  font-size: 20px;
}
.link {
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  color: #481030;
  text-decoration: underline;
  display: block;
}
