.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #7a747f;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(285deg, #7a747f 50%, #ff3cac 100%);
}
.list {
  margin-right: 25px;
  padding: 10px;
  font-size: 25px;
  justify-content: center;
  color: #d2bae8;
  text-decoration: none;
  border-radius: 5px;
}
.btn {
  margin-top: 15px;
  margin-left: 25px;
  display: flex;
  color: #d2bae8;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font-size: 13px;
  border: 1px solid #2b86c5;
  border-radius: 5px;
  background-image: linear-gradient(285deg, #ff3cac 50%, #7a747f 100%);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn:hover,
:focus {
  opacity: 1;
  color: #7c1851;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn::before {
  content: '<';
  width: 30px;
}
