.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 0;
  margin-bottom: 16px;
  border-bottom: 2px solid rgb(0, 0, 0);
}
.list {
  padding-right: 10px;
}
